#root {
  max-width: 1600px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.edit-container {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.edit-btn-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.modal-input-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 25px;
}

.modal-btn-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
